models
data/indicTTS_audio
data/*ish
CMU_Arc
CMU_all
CORAAL
l2_new/meta
l2_new/*/wav
l2_new/*/transcript
l2_new/*/annotation
l2_new/*/textgrid
CMU_expts/*/*/*/T*

*.wav
*.ipynb_checkpoints
*.json
*.txt
*.png
*logs/
*.file
*.mp3
*.arrow
*.lock
*.flac
*.csv
*.tsv
*.log
*.html
*__pycache__/
mz-isca/classifier-data/content/cache
*.tar.gz*
mz-isca/CSLU_checkpoints
*.svg
*.zip
mz-isca/classifier-data/CSLU_checkpoints
mz-isca/classifier-data/CSLU_training_data
mz-isca/classifier-data/MCV_checkpoints
mz-isca/classifier-data/training_data
w2v2/indic
w2v2/mcv
w2v2/w2v2_timit
*.swp
*.pdf
MCV_accent/content/cache
MCV_accent/data/dristi_accent-recognition/checkpoint-6400
internet_access.sh
